.topBar {
    padding: 10px 40px;
    background-color: #1d1d1d;
    display: flex;
    align-items: center;
    justify-content: center;

    p {
        color: $white;
        font-size: 16px;
        margin: 0px !important;
        font-family: 'bold';
        letter-spacing: .5px;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: center;
        gap: 5px;
        @media (max-width:767px) {
            font-family: semi;
            font-size: 13px;
        }
    }
    
    a {
        color: #fff;
        background-color: $red;
        padding: 3px 16px;
        border-radius: 4px;
        display: inline-flex;
        font-family: base;
        text-transform: uppercase;
        font-size: 14px;
        @media (max-width:767px) {
            padding: 2px 12px;
            font-size: 13px;
        }
    }
}

.header {
    border-bottom: 1px solid $border;
    position: relative;

    @media (max-width:991px) {
        .container {
            max-width: 100%;
            padding: 0 15px;
        }
    }

    .h-wrap {
        padding: 15px 0px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .logo {
        padding-right: 40px;

        @media (max-width:1199px) {
            padding-right: 30px;
        }

        @media (max-width:767px) {
            padding-right: 0;
            margin-inline: auto;
        }

        img {
            max-height: 43px;
            width: auto;

            @media (max-width:1199px) {
                max-height: 38px;
            }

            @media (max-width:767px) {
                max-height: 30px;
            }
        }
    }

    .searchBox {
        position: relative;
        margin-right: auto;

        @media (max-width:1199px) {
            flex-grow: 1;
            width: 100%;
            margin-right: 30px;
        }

        @media (max-width:767px) {
            position: absolute;
            top: 100%;
            border: 15px solid #fff;
            border-top-width: 0px;
            border-bottom-width: 10px;
            z-index: 10;
            left: 0;
            // box-shadow: 0px 0px 0 1px $border;
            visibility: hidden;
            opacity: 0;
            transition: .2s cubic-bezier(0.19, 1, 0.22, 1);

            &.open {
                visibility: visible;
                opacity: 1;
            }
        }

        input {
            min-width: 475px;
            border: 1px solid $border;
            background-color: #f7f7f7;
            max-width: 100%;
            height: 45px;
            padding: 5px 48px 5px 15px;

            @media (max-width:1199px) {
                min-width: 0px;
                width: 100%;
            }
        }

        .btn {
            padding: 0;
            font-size: 20px;
            border: none;
            position: absolute;
            right: 0px;
            padding-inline: 15px;
            top: 0;
            display: flex;
            align-items: center;
            height: 100%;
        }
    }

    .user {
        display: inline-flex;
        align-items: center;
        gap: 30px;

        @media (max-width:1199px) {
            gap: 20px;
        }

        a {
            cursor: pointer;
            color: #000;
            display: inline-flex;
            align-items: center;
            gap: 14px;
            text-transform: uppercase;
            letter-spacing: 1px;
            font-size: 15px;

            span {
                @media (max-width:1199px) {
                    display: none;
                }
            }

            i {
                font-size: 20px;
            }
        }
    }

    .mobileMenu {
        overflow: hidden;
        display: flex;
        width: 100%;
        visibility: hidden;
        opacity: 0;
        height: 0;
        &.open
        {
            height: auto;
            visibility: visible;
            opacity: 1;
        }
        .wiz {
            display: flex;
            flex-direction: column;
            width: 300%;
            transform: translateX(0%);
            transition: .2s cubic-bezier(0.165, 0.84, 0.44, 1);

            &.level2 {
                transform: translateX(-100%);
            }

            &.level3 {
                transform: translateX(-200%);
            }

            a {
                padding: 10px 1px;
                color: #000;
                font-size: 16px;
                width: 100%;
                border-bottom: 1px solid $border;
                white-space: nowrap;

                &:hover {
                    color: $red;
                }
            }

            .next {
                background-color: transparent;
                padding: 10px 1px;
                font-size: 16px;
                border: none;
                flex-grow: 1;
                text-align: right;
                width: 100%;

                &:hover {
                    color: $red;
                }
            }

            .prev {
                font-size: 14px;
                text-transform: uppercase;
                font-family: bold;
                border: none;
                background-color: transparent;
                display: inline-flex;
                justify-self: start;
                align-items: center;
                gap: 5px;
                margin-bottom: 5px;

                span {
                    position: relative;

                    &::after {
                        content: "";
                        position: absolute;
                        bottom: -5px;
                        left: -14px;
                        height: 1px;
                        width: calc(100% + 14px);
                        background-color: #0002;
                    }
                }
            }

            .group {
                display: flex;
                align-items: center;
                justify-content: space-between;
                border-bottom: 1px solid $border;

                >a {
                    border-bottom: none;
                    width: auto;
                }
            }

            .nested {
                width: 100%;
                position: absolute;
                left: 100%;
                top: 0;
                display: flex;
                flex-direction: column;
                align-items: start;
                background-color: #fff;
                min-height: 100%;

                .nest {
                    width: 100%;
                }

                &.display {
                    z-index: 10;
                }

                .nest .nested {
                    &.display {
                        z-index: 20;
                    }
                }
            }
        }
    }
}

.h-cover {
    box-shadow: 0 0 25px rgb(0 0 0 / 10%);
}

.post-header {
    position: relative;
    @media (max-width:991px) {
        .container {
            max-width: 100%;
            padding: 0 15px;
        }
    }

    .ph-wrap {
        display: flex;
        align-items: center;
        @media (min-width:768px) {
            margin-left: -15px;
        }
        >.drop>a,
        >a {
            font-size: 16px;
            text-transform: uppercase;
            color: #000;
            padding: 15px 18px;
            letter-spacing: 1px;
            position: relative;
            overflow: hidden;
            display: flex;

            span {
                position: relative;
                transition: .2s cubic-bezier(0.075, 0.82, 0.165, 1);
                top: 0;
                left: 0;
                z-index: 1;
            }

            img {
                position: absolute;
                transform: translateX(-50%);
                left: 0%;
                top: 100%;
                height: 38px;
                visibility: hidden;
                opacity: 0;
                pointer-events: none;
                z-index: 0;
                transition: .15s cubic-bezier(0.075, 0.82, 0.165, 1);
            }

            &:hover {
                img {
                    visibility: visible;
                    opacity: 1;
                    left: 48%;
                    top: 5px;
                }

                span:first-of-type {
                    top: -7px;
                    left: -3px;
                }

                span:last-of-type {
                    top: 7px;
                    left: 5px;
                }

                >span {
                    color: $red;
                }

                >i {
                    color: $red;
                }
            }
        }

        .drop:hover {
            >a>img {
                visibility: visible;
                opacity: 1;
                left: 48%;
                top: 5px;
            }

            >a>span:first-of-type {
                top: -7px;
                left: -3px;
            }

            >a>span:last-of-type {
                top: 7px;
                left: 5px;
            }

            >a>span {
                color: $red;
            }

            >a>i {
                color: $red;
            }
        }

        >a:first-child,
        >.drop:last-child {
            &:hover {
                img {
                    left: 54%;
                }
            }
        }

        >a:first-of-type+a {
            &:hover {
                img {
                    left: 52%;
                }
            }
        }

        >.drop:first-of-type {
            &:hover {
                img {
                    left: 52%;
                }
            }
        }

        >*:nth-child(3) {
            &:hover {
                img {
                    left: 50%;
                }
            }
        }

        .drop {
            position: relative;
            >a {
                i {
                    position: absolute;
                    right: 0px;
                    top: 47%;
                    transform: translateY(-50%);
                }
            }

            .mega-menu {
                position: absolute;
                top: calc(100% + 8px);
                transform: scale(0.95);
                visibility: hidden;
                opacity: 0;
                background-color: #fff;
                z-index: 20;
                padding: 10px 0px;
                display: flex;
                flex-direction: column;
                align-items: start;
                transition: .2s cubic-bezier(0.075, 0.82, 0.165, 1);
                box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.3);
                >.space {
                    position: relative;
                    background-color: transparent;
                    height: 8px;
                    width: 100%;
                    z-index: 1;
                    margin-top: -10px;
                    transform: translateY(-100%);
                }

                a {
                    display: flex;
                    align-items: center;
                    color: #000;
                    gap: 12px;
                    padding: 10px 30px 10px 20px;
                    transition: .2s cubic-bezier(0.075, 0.82, 0.165, 1);
                    font-size: 16px;
                    white-space: nowrap;
                    text-transform: uppercase;
                    width: 100%;

                    i {
                        transform: rotate(0);
                        transition: .2s cubic-bezier(0.075, 0.82, 0.165, 1);
                    }

                    b {
                        margin-left: auto;
                        position: relative;
                        left: 10px;
                        transition: .2s cubic-bezier(0.075, 0.82, 0.165, 1);
                    }

                    &:hover {
                        color: $red;

                        i {
                            transform: rotate(45deg);
                        }
                    }

                    &.sub:hover {
                        b {
                            left: 20px;
                        }
                    }
                }
            }

            &:hover {
                .mega-menu {
                    transform: scale(1);
                    visibility: visible;
                    opacity: 1;
                }
            }

            .sub {
                display: block;
                width: 100%;

                .sub-menu {
                    position: absolute;
                    top: 0;
                    left: 100%;
                    min-height: 100%;
                    transform: scale(0.95);
                    visibility: hidden;
                    opacity: 0;
                    background-color: #fff;
                    z-index: 20;
                    padding: 10px 0px;
                    display: flex;
                    flex-direction: column;
                    align-items: start;
                    transition: .2s cubic-bezier(0.075, 0.82, 0.165, 1);
                    border-left: 1px solid $border;
                    box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, 0.3);

                }

                &:hover {
                    >a {
                        color: $red;

                        i {
                            transform: rotate(45deg);
                        }

                        b {
                            left: 20px;
                        }
                    }

                    .sub-menu {
                        transform: scale(1);
                        visibility: visible;
                        opacity: 1;
                    }
                }
            }
        }
    }
}