// Variables
body {
    font-family: 'base';
    color: #000;
    background-color: #FFF;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    outline: none;
}

.form-control,
input,
select,
textarea,
.btn {
    box-shadow: none !important;
    outline: none !important;
}

.splide__pagination {
    @media (min-width:992px) {
        display: none;
    }
}

.splide.is-focus-in .splide__arrow:focus {
    outline: none !important;
}

.splide__arrow {

    background: transparent;
    opacity: 1;

    &:not(:disabled):hover {
        opacity: 1 !important;
    }

    img {
        width: 14px;
        height: auto;
    }
}

.splide__arrow--prev {
    left: -60px;

    @media (max-width:991px) {
        left: -40px;
    }
}

.splide__arrow--next {
    right: -60px;

    @media (max-width:991px) {
        right: -40px;
    }
}

@media (max-width:767px) {
    .splide__arrows {
        display: none;
    }
}

.layerUp {
    position: relative;
    width: 100%;
    z-index: 10;
    overflow: hidden;
    background-color: transparent;
}

.bulleted {
    padding: 0;
    margin: 0;

    li {
        font-size: 20px;
        padding: 0;
        margin: 0;
        list-style-type: none;
        position: relative;
        padding-left: 15px;

        &::before {
            content: "";
            position: absolute;
            background: $red;
            height: 6px;
            width: 6px;
            border-radius: 5px;
            left: 0;
            top: 17px;
        }
    }
}

.hide-before {
    @media (min-width:768px) {
        display: none !important;
    }
}

.hide-after {
    @media (max-width:767px) {
        display: none !important;
    }
}

.container {
    @media (max-width:767px) {
        padding-inline: 20px;

        &.fluid-xs {
            max-width: 100%;
            padding: 0;

            h2 {
                padding-inline: 20px;
            }
        }
    }
}

.block-padding {
    padding: 50px 0;

    @media (max-width:1199px) {
        padding: 40px 0;
    }

    @media (max-width:767px) {
        padding: 30px 0;
    }
}

.pt-20 {
    padding-top: 20px;
}

.pt-30 {
    padding-top: 30px;
}

.pt-50 {
    padding-top: 50px;
}

.pb-50 {
    padding-bottom: 50px;
}

.pb-30 {
    padding-bottom: 30px;
}

.pb-20 {
    padding-bottom: 20px;
}

.gTitle {
    font-family: title;
    color: #000;
    margin: 0 0 30px;
    font-size: clamp(26px, calc(2vw + 1.5em), 46px);

    @media(max-width:991px) {
        margin: 0 0 20px;
    }
}

.pagination {
    border: 1px solid #D4D7DB;
    border-radius: 50px;
    background-color: #F2F8F8;
    padding: 10px 10px 10px 25px;
    display: inline-flex;
    align-items: center;
    margin-bottom: 30px;
    max-width: 700px;
    margin-inline: auto;

    @media (max-width:1199px) {
        padding: 5px 5px 5px 18px;
    }

    .currentPage {
        height: 40px;
        width: 40px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        border-radius: 5px;
        box-shadow: inset 0 0 0 1px #D4D7DB;
        background-color: #fff;
        color: $dark;
        font-size: 16px;
        font-weight: 500;

        @media (max-width:1199px) {
            height: 32px;
            width: 32px;
        }
    }

    .total {
        color: $dark;
        font-size: 16px;
        margin-inline: 10px;
        font-weight: 400;

    }

    .next {
        height: 40px;
        width: 135px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        border-radius: 50px;
        font-size: 14px;
        font-weight: 700;
        background-color: $red;
        color: #fff;

        @media (max-width:1199px) {
            height: 32px;
            font-size: 12px;
        }

        @media (max-width:767px) {
            display: none;
        }

        &:hover {
            background-color: $red;
        }
    }

    .prev {
        height: 40px;
        width: 135px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        border-radius: 50px;
        margin-left: 50px;
        font-size: 14px;
        font-weight: 700;
        background-color: #fff;
        color: $red;
        box-shadow: inset 0px 0px 0px 1px #D4D7DB;
        margin-left: auto;
        margin-right: 10px;

        @media (max-width:1199px) {
            height: 32px;
            font-size: 12px;
        }

        @media (max-width:767px) {
            display: none;
        }

        &:hover {
            background-color: $dark;
            color: #fff;
            box-shadow: none;
        }
    }

    .arrows {
        display: flex;
        gap: 5px;
        margin-right: 10px;

        a {
            height: 40px;
            width: 40px;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            border-radius: 5px;
            box-shadow: inset 0 0 0 1px #D4D7DB;
            background-color: #fff;

            @media (max-width:1199px) {
                height: 32px;
                width: 32px;
            }

            &:first-of-type {
                img {
                    position: relative;
                    left: -2px;
                }
            }

            &:last-of-type {
                img {
                    position: relative;
                    left: 2px;
                }
            }

            &:hover {
                background-color: $red;
                box-shadow: none;

                img {
                    filter: grayscale(1) brightness(10);
                }
            }
        }
    }
}

input[type=number]::-webkit-inner-spin-button {
    display: none;
}

.modal {

    z-index: 1300;

    .modal-dialog {
        max-width: 500px;

        .modal-content {
            border-radius: 10px;
            overflow: hidden;
        }

        .btn-close {
            font-size: 18px;
            color: $dark;
            height: 40px;
            width: 40px;
            border-radius: 5px;
            border: none;
            box-shadow: inset 0 0 0 1px #D4D7DB;
            position: absolute;
            top: 20px;
            right: 20px;
            opacity: 1;
            padding: 0;
            background-image: none;
            transition: .12s ease-out;

            @media (max-width:767px) {
                font-size: 16px;
                height: 32px;
                width: 32px;
                border-radius: 4px;
                top: 15px;
                right: 15px;
            }

            &:hover {
                background-color: #F44B4B;
                box-shadow: none;
                color: #fff !important;
            }
        }

        .modal-body {
            text-align: center;
            padding: 60px 70px 70px;
            background-color: #fff !important;

            @media (max-width:767px) {
                padding: 40px 30px 30px;
            }

            p {
                color: $dark;
                font-size: 20px;
                font-weight: 400;
                max-width: 85%;
                margin: 0 auto 30px;
            }

            .btn {
                width: 100%;
                margin: 0;
            }
        }
    }
}

.modal.show,
.modal-open {
    padding-right: 0px !important;
}

.modal-backdrop {
    background-color: #000;
    z-index: 1299;

    &.show {
        opacity: .75 !important;
    }
}

.scrollbar::-webkit-scrollbar {
    height: 5px;
    width: 5px;
}

.scrollbar::-webkit-scrollbar-track {
    background-color: #D4D7DB80;
    border-radius: 10px;
}

.scrollbar::-webkit-scrollbar-thumb {
    background-color: $red;
    border-radius: 10px;
}

.hr {
    border-top: 1px solid #D4D7DB;
    height: 0;
    width: 100%;
    display: block;
    margin: 110px 0;

    @media (max-width:1199px) {
        margin: 80px 0;
    }

    @media (max-width:991px) {
        margin: 60px 0;
    }

    @media (max-width:767px) {
        margin: 40px 0;
    }
}


.products {
    display: flex;
    flex-wrap: wrap;
}

.pod {
    position: relative;
    flex: 0 0 20%;

    @media (max-width:991px) {
        flex: 0 0 33.334%;
    }

    @media (max-width:767px) {
        flex: 0 0 50%;
    }

    &::after {
        content: "";
        position: absolute;
        inset: 0.5px;
        box-shadow: 0 0 0 1px $border;
    }

    .tag {
        position: absolute;
        z-index: 5;
        top: 12px;
        left: 12px;
        background-color: $red;
        color: #fff;
        letter-spacing: 1px;
        font-size: 13px;
        padding: 1px 4px 0;

        @media (max-width:600px) {
            top: 8px;
            left: 8px;
        }
    }

    a {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 12px;
        cursor: pointer;
        position: relative;
        z-index: 3;

        @media (max-width:600px) {
            padding: 5px 5px 10px;
        }
    }

    img {
        width: 100%;
        aspect-ratio: 1/1;
        object-fit: cover;
        margin-bottom: 15px;
    }

    p {
        text-decoration: none;
        display: -webkit-box;
        line-clamp: 2;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        color: #000;
        margin: 0;
    }

    .price {
        font-size: 19px;
        color: #000;
        margin: 3px 0;
        font-family: semi;

        sup {
            position: relative;
            top: -5px;
            font-size: 65%;
        }

        strike {
            font-family: base;
            font-size: 14px;
            color: #787878;
        }
    }

    .reviews {
        font-size: 15px;
        color: #646464;
    }

    .buy {
        padding: 5px;
        position: relative;
        z-index: 10;

        .btn-buy {
            background-color: #333333;
            border-radius: 0px;
            color: #fff;
            font-size: 15px;
            width: 100%;

            &:hover {
                background-color: $red;
            }

            i {
                font-size: 14px;
            }
        }
    }
}

.fourEach .pod {
    flex: 0 0 25%;

    @media (max-width:1199px) {
        flex: 0 0 33.334%;
    }

    @media (max-width:991px) {
        flex: 0 0 50%;
    }
}

.rating-stars {
    --percent: calc(var(--rating) / 5 * 100%);
    display: inline-block;
    font-size: 14px;
    line-height: 1;

    &::before {
        content: '\f005 \f005 \f005 \f005 \f005';
        font-family: 'Font Awesome 6 Pro';
        font-weight: 900;
        letter-spacing: 1px;
        background: linear-gradient(90deg, rgb(245, 180, 0) var(--percent), #dfe1e4 var(--percent));
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}