// Variables
body {
    font-family: 'base';
    color: #000;
    background-color: #FFF;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    outline: none;
}

.form-control,
input,
select,
textarea,
.btn {
    box-shadow: none !important;
    outline: none !important;
}

.splide__pagination {
    @media (min-width:992px) {
        display: none;
    }
}

.splide.is-focus-in .splide__arrow:focus {
    outline: none !important;
}

.splide__arrow {

    background: transparent;
    opacity: 1;

    &:not(:disabled):hover {
        opacity: 1 !important;
    }

    img {
        width: 14px;
        height: auto;
    }
}

.splide__arrow--prev {
    left: -60px;

    @media (max-width:991px) {
        left: -40px;
    }
}

.splide__arrow--next {
    right: -60px;

    @media (max-width:991px) {
        right: -40px;
    }
}

@media (max-width:767px) {
    .splide__arrows {
        display: none;
    }
}

.layerUp {
    position: relative;
    width: 100%;
    z-index: 10;
    overflow: hidden;
    background-color: transparent;
}

.bulleted {
    padding: 0;
    margin: 0;

    li {
        font-size: 20px;
        padding: 0;
        margin: 0;
        list-style-type: none;
        position: relative;
        padding-left: 15px;

        &::before {
            content: "";
            position: absolute;
            background: $red;
            height: 6px;
            width: 6px;
            border-radius: 5px;
            left: 0;
            top: 17px;
        }
    }
}

.container {
    @media (max-width:767px) {
        padding-inline: 20px;

        &.fluid-xs {
            max-width: 100%;
            padding: 0;

            h2 {
                padding-inline: 20px;
            }
        }
    }
}

.block-padding {
    padding: 50px 0;

    @media (max-width:1199px) {
        padding: 40px 0;
    }

    @media (max-width:767px) {
        padding: 30px 0;
    }
}

.pt-20 {
    padding-top: 20px;
}

.pt-30 {
    padding-top: 30px;
}

.pt-50 {
    padding-top: 50px;
}

.pb-50 {
    padding-bottom: 50px;
}

.pb-30 {
    padding-bottom: 30px;
}

.pb-20 {
    padding-bottom: 20px;
}

h1 {
    font-size: 36px;
    color: #fff;
    font-weight: 400;
    margin: 0;

    strong {
        font-weight: 700;
    }

    @media (max-width:1199px) {
        font-size: 32px;
    }

    @media (max-width:767px) {
        font-size: 28px;
    }
}

h2 {
    font-size: 28px;
    color: $dark;
    font-weight: 700;
    margin: 0;
    position: relative;

    @media (max-width:1199px) {
        font-size: 24px;
    }

    @media (max-width:767px) {
        font-size: 20px;
    }

    .new {
        position: absolute;
        left: 100%;
        margin-left: 10px;
        top: -2px;
        height: 40px;
        width: auto;

        @media (max-width:1199px) {
            height: 30px;
        }

        @media (max-width:767px) {
            height: 25px;
            top: 0;
        }
    }
}

.arrow-link {
    font-size: 18px;
    font-weight: 700;
    color: $red;
    display: inline-flex;
    align-items: center;
    gap: 12px;

    @media (max-width:1199px) {
        gap: 10px;
        font-size: 16px;
    }

    @media (max-width:767px) {
        gap: 7px;
        font-size: 14px;
    }

    img {
        height: 14px;
        width: auto;

        @media (max-width:1199px) {
            height: 12px;
        }

        @media (max-width:767px) {
            height: 10px;
        }
    }

    &:hover {
        color: $dark;
    }
}

.gap-b {
    margin-bottom: 25px;

    @media (max-width:1199px) {
        margin-bottom: 20px;
    }

    @media (max-width:991px) {
        margin-bottom: 15px;
    }

    @media (max-width:767px) {
        margin-bottom: 10px;
    }
}

.gap-t {
    margin-top: 25px;

    @media (max-width:1199px) {
        margin-top: 20px;
    }

    @media (max-width:991px) {
        margin-top: 15px;
    }

    @media (max-width:767px) {
        margin-top: 10px;
    }
}

.no-btn {
    padding: 0px;
    background-color: transparent;
    border: none;
    padding: 0;
    outline: none;
}

// Icons Pack
.bundle {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 30px;

    .free {
        position: absolute;
        z-index: 6;
        top: 0;
        right: 20px;
        display: flex;

        img {
            height: 27px;
            width: auto;

            @media (max-width:1199px) {
                height: 23px;
            }
        }
    }

    .packet {
        padding: 1px;
        border-radius: 14px;
        overflow: hidden;
        margin-bottom: 15px;
        position: relative;
        transition: all 50ms linear;
        width: 100%;
        display: block;
        background-color: #f2f8f8;

        @media (max-width:1199px) {
            margin-bottom: 15px;
        }

        @media (max-width:991px) {
            margin-bottom: 10px;
        }

        .icon-pack {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            background-color: #f2f8f8ea;
            backdrop-filter: blur(10px);
            place-items: center;
            gap: 25px;
            padding: 32px;
            border-radius: 13px;
            position: relative;
            z-index: 5;

            &:hover {
                box-shadow: none;
            }

            @media (max-width:1199px) {
                padding: 30px 25px;
            }

            .icon {
                height: 56px;
                width: 56px;

                @media (max-width:1400px) {
                    height: 43px;
                    width: 43px;
                }

                @media (max-width:576px) {
                    height: 39px;
                    width: 39px;
                }

                img {
                    height: 100%;
                    width: 100%;
                    object-fit: contain;
                    object-position: center;
                }
            }
        }

        .blob {
            filter: blur(40px);
            position: absolute;
            z-index: 2;
            top: 0;
            opacity: 0;
            left: 0;
            width: 250px;
            height: 250px;
            border-radius: 50%;
            background: $red;
            transition: transform 50ms linear;
        }

        .fakeblob {
            display: hidden;
            position: absolute;
            z-index: 1;
            top: 0;
            left: 0;
            width: 200px;
            height: 200px;
            border-radius: 50%;
        }

    }

    >a {
        font-size: 18px;
        font-weight: 500;
        color: $dark;
        display: inline-block;

        @media (max-width:1199px) {
            font-size: 16px;
        }

        @media (max-width:991px) {
            font-size: 14px;
        }

        &:hover {
            color: $red;
        }
    }

    >span {
        display: block;
        color: $dark;
        font-size: 16px;
        font-weight: 700;

        @media (max-width:1199px) {
            font-size: 14px;
        }
    }
}

.mini-h {
    font-size: 24px;
    font-weight: 500;
    color: $dark;
    margin: 0 0 30px;

    @media (max-width:1199px) {
        font-size: 22px;
    }

    @media (max-width:1399px) {
        font-size: 22px;
    }

    @media (max-width:1199px) {
        font-size: 20px;
    }

    @media (max-width:991px) {
        font-size: 18px;
    }

    @media (max-width:767px) {
        font-size: 16px;
    }
}

// Pagination

.pagination {
    border: 1px solid #D4D7DB;
    border-radius: 50px;
    background-color: #F2F8F8;
    padding: 10px 10px 10px 25px;
    display: inline-flex;
    align-items: center;
    margin-bottom: 30px;
    max-width: 700px;
    margin-inline: auto;

    @media (max-width:1199px) {
        padding: 5px 5px 5px 18px;
    }

    .currentPage {
        height: 40px;
        width: 40px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        border-radius: 5px;
        box-shadow: inset 0 0 0 1px #D4D7DB;
        background-color: #fff;
        color: $dark;
        font-size: 16px;
        font-weight: 500;

        @media (max-width:1199px) {
            height: 32px;
            width: 32px;
        }
    }

    .total {
        color: $dark;
        font-size: 16px;
        margin-inline: 10px;
        font-weight: 400;

    }

    .next {
        height: 40px;
        width: 135px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        border-radius: 50px;
        font-size: 14px;
        font-weight: 700;
        background-color: $red;
        color: #fff;

        @media (max-width:1199px) {
            height: 32px;
            font-size: 12px;
        }

        @media (max-width:767px) {
            display: none;
        }

        &:hover {
            background-color: $red;
        }
    }

    .prev {
        height: 40px;
        width: 135px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        border-radius: 50px;
        margin-left: 50px;
        font-size: 14px;
        font-weight: 700;
        background-color: #fff;
        color: $red;
        box-shadow: inset 0px 0px 0px 1px #D4D7DB;
        margin-left: auto;
        margin-right: 10px;

        @media (max-width:1199px) {
            height: 32px;
            font-size: 12px;
        }

        @media (max-width:767px) {
            display: none;
        }

        &:hover {
            background-color: $dark;
            color: #fff;
            box-shadow: none;
        }
    }

    .arrows {
        display: flex;
        gap: 5px;
        margin-right: 10px;

        a {
            height: 40px;
            width: 40px;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            border-radius: 5px;
            box-shadow: inset 0 0 0 1px #D4D7DB;
            background-color: #fff;

            @media (max-width:1199px) {
                height: 32px;
                width: 32px;
            }

            &:first-of-type {
                img {
                    position: relative;
                    left: -2px;
                }
            }

            &:last-of-type {
                img {
                    position: relative;
                    left: 2px;
                }
            }

            &:hover {
                background-color: $red;
                box-shadow: none;

                img {
                    filter: grayscale(1) brightness(10);
                }
            }
        }
    }
}

#alertPlaceholder {
    position: fixed;
    top: 130px;
    width: 100%;
    display: flex;
    justify-content: center;
    z-index: 2020;

    .alert {
        min-height: 85px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        box-shadow: 0 4px 50px #00000026;
        border-radius: 10px;
        font-size: 16px;
        font-weight: 600;
        min-width: 400px;
        position: absolute;
        z-index: 1;

        .btn-close {
            top: 0;
            right: 0;
            opacity: 1;
            position: relative;
            color: #fff;
            font-size: 14px;
            margin-left: 30px;
            filter: invert(1);
            padding: 0px;
            box-shadow: none;
            outline: none;
        }

        &.alert-success {
            background-color: #2CB88B;
            color: #fff;
            border: none;
            padding: 10px 25px 10px 30px;
        }

        &.alert-danger {
            background-color: #F44B4B;
            color: #fff;
            border: none;
            padding: 10px 25px 10px 30px;
        }
    }
}

input[type=number]::-webkit-inner-spin-button {
    display: none;
}

.modal {

    z-index: 1300;

    .modal-dialog {
        max-width: 500px;

        .modal-content {
            border-radius: 10px;
            overflow: hidden;
        }

        .btn-close {
            font-size: 18px;
            color: $dark;
            height: 40px;
            width: 40px;
            border-radius: 5px;
            border: none;
            box-shadow: inset 0 0 0 1px #D4D7DB;
            position: absolute;
            top: 20px;
            right: 20px;
            opacity: 1;
            padding: 0;
            background-image: none;
            transition: .12s ease-out;

            @media (max-width:767px) {
                font-size: 16px;
                height: 32px;
                width: 32px;
                border-radius: 4px;
                top: 15px;
                right: 15px;
            }

            &:hover {
                background-color: #F44B4B;
                box-shadow: none;
                color: #fff !important;
            }
        }

        .modal-body {
            text-align: center;
            padding: 60px 70px 70px;
            background-color: #fff !important;
            @media (max-width:767px) {
                padding: 40px 30px 30px;
            }

            p {
                color: $dark;
                font-size: 20px;
                font-weight: 400;
                max-width: 85%;
                margin: 0 auto 30px;
            }

            .btn {
                width: 100%;
                margin: 0;
            }
        }
    }
}

.modal.show,
.modal-open {
    padding-right: 0px !important;
}

.btn-green {
    padding-inline: 25px;
    padding-block: 0;
    height: 60px;
    min-width: 180px;
    background-color: $red;
    color: #fff;
    border-radius: 50px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    font-weight: 700;
    transition: .12s ease;
    @media (max-width:1400px) {
        height: 56px;
        font-size: 16px;
        min-width: 160px;
    }

    @media (max-width:1199px) {
        font-size: 14px;
        font-weight: 500;
        min-width: 140px;
        height: 45px;
    }

    &:hover {
        background-color: #21cb94;
        color: #fff;
    }
}

.btn-red {
    padding-inline: 25px;
    padding-block: 0;
    height: 60px;
    min-width: 180px;
    background-color: $red;
    color: #fff;
    border-radius: 50px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    font-weight: 700;
    transition: .12s ease;

    @media (max-width:1400px) {
        height: 56px;
        font-size: 16px;
        min-width: 160px;
    }

    @media (max-width:1199px) {
        height: 48px;
        font-size: 14px;
        font-weight: 500;
        min-width: 140px;
    }

    &:hover {
        background-color: redblue;
        color: #fff;
    }
}

// Super search

.super-search {
    border: 1px solid #D4D7DB;
    border-radius: 50px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media (max-width:1400px) {
        margin: 35px 0;
    }

    @media (max-width:1199px) {
        margin: 30px 0;
    }

    @media (max-width:767px) {
        margin: 20px 0;
    }

    .search-field {
        flex-grow: 1;
        display: flex;
        align-items: center;

        >img {
            margin-right: 16px;
            height: 24px;
            margin-left: 30px;
            width: auto;

            @media (max-width:1400px) {
                margin-right: 14px;
                height: 22px;
                margin-left: 25px;
            }

            @media (max-width:1199px) {
                margin-right: 12px;
                height: 18px;
                margin-left: 18px;
            }

            @media (max-width:767px) {
                margin-right: 0px;
                margin-left: 20px;
            }
        }

        >input {
            border: none;
            background-color: transparent;
            box-shadow: none;
            outline: none;
            font-size: 16px;
            font-weight: 700;
            flex-grow: 1;
            color: $dark;
            width: 100%;
            // @media (max-width:1199px) {
            // }

            @media (max-width:767px) {
                padding-left: 12px;
            }

            &::placeholder {
                font-weight: 500;
                color: #BBBBBB;
            }
        }

        .form-switch {
            display: flex;
            align-items: center;
            padding-right: 30px;
            gap: 10px;

            @media (max-width:991px) {
                padding-right: 20px;
            }

            .form-check-input {
                background-image: url(../images/switchDot.svg);
                background-color: #D4D7DB;
                height: 20px;
                width: 40px;
                box-shadow: none;
                border: none;
                user-select: none;
                cursor: pointer;

                @media (max-width:991px) {
                    height: 18px;
                    width: 32px;
                }

                &:checked {
                    background-color: $red;
                }
            }

            label {
                font-size: 15px;
                white-space: nowrap;
                font-weight: 400;
                line-height: 19px;
                letter-spacing: 0em;
                text-align: left;
                color: $dark;
                user-select: none;
                margin: 0;
                cursor: pointer;

                @media (max-width:991px) {
                    font-size: 13px;
                }
            }
        }
    }


    .icons-filter {
        position: relative;

        &:first-of-type {
            span {
                border-radius: 40px 0 0 40px !important;
            }
        }

        span {
            background-color: #fff;
            height: 60px;
            border-radius: 0px;
            border-right: 1px solid #EFEFF4;
            display: inline-flex;
            align-items: center;
            gap: 10px;
            color: #1D201F;
            font-size: 16px;
            font-weight: 500;
            padding-inline: 20px;
            cursor: pointer;
            transition: .1s ease-out;
            min-width: 110px;
            justify-content: center;
            user-select: none;

            @media (max-width:1400px) {
                font-size: 18px;
                height: 54px;
                padding: 0px 25px;
                min-width: 100px;
            }

            @media (max-width:1199px) {
                font-size: 16px;
                height: 50px;
                padding: 0px 20px;
                gap: 5px;
                min-width: 85px;
            }

            @media (max-width:991px) {
                font-size: 14px;
                height: 46px;
                min-width: 75px;
            }

            @media (max-width:767px) {
                font-size: 16px;
                height: 50px;
                min-width: 75px;
                justify-content: space-between;
            }

            img {
                height: 7px;
                width: auto;

                @media (max-width:1400px) {
                    height: 6px;
                }

                @media (max-width:767px) {
                    height: 5px;
                    position: relative;
                    top: 1px;
                }
            }

            &.active {
                img {
                    transform: rotate(180deg);
                }

                &~.search-filter-drop {
                    transform: scale(1);
                    visibility: visible;
                    opacity: 1;
                }
            }
        }
    }
}

.search-filter-drop {
    box-shadow: 0px 4px 15px 0px #0000001A;
    border: 1px solid #D4D7DB80;
    border-radius: 10px;
    padding: 15px;
    position: absolute;
    z-index: 50;
    background-color: #fff;
    top: calc(100% + 12px);
    right: 0px;
    min-width: 175px;
    transform-origin: top;
    transform: scale(0);
    visibility: hidden;
    opacity: 0;
    transition: .1s ease-out;

    .drop-list {
        display: flex;
        flex-direction: column;
        gap: 10px;
        max-height: 43vh;
        overflow-y: auto;

        &::-webkit-scrollbar {
            width: 5px;
        }

        &::-webkit-scrollbar-track {
            background-color: #D4D7DB80;
            border-radius: 10px;
        }

        &::-webkit-scrollbar-thumb {
            background-color: $red;
            border-radius: 10px;
        }

        .form-check {
            display: flex;
            align-items: center;
        }

        label {
            color: $dark;
            flex-grow: 1;
            padding: 5px;
            font-size: 16px;
            font-weight: 500;
            line-height: 18px;
            padding: 5px 0;
            flex-grow: 1;
            margin: 0;
            position: relative;
            top: 1px;
            cursor: pointer;

            &:hover {
                color: $red
            }
        }

        input {
            border-radius: 3px;
            box-shadow: none;
            border: 1px solid #D4D7DB;
            height: 20px;
            width: 20px;
            margin-right: 10px;
            cursor: pointer;

            &:checked {
                background-color: $red;
                border-color: $red;
                background-image: url(../images/checkbox-tick.svg);
                background-size: 15px;
            }
        }
    }
}

.nav-pills {
    display: flex;
    gap: 10px;
    margin: 0 !important;
    flex-wrap: nowrap;
    max-width: 100%;
    overflow-x: auto;

    &::-webkit-scrollbar {
        height: 5px;
    }

    &::-webkit-scrollbar-track {
        background-color: #D4D7DB80;
        border-radius: 10px;
    }

    &::-webkit-scrollbar-thumb {
        background-color: $red;
        border-radius: 10px;
    }

    @media (max-width:991px) {
        padding: 0 10px 15px;
    }

    .nav-link {
        border: 1px solid #D4D7DB;
        background-color: transparent;
        color: $dark;
        font-size: 16px;
        font-weight: 500;
        padding: 12px 24px;
        border-radius: 50px;
        text-align: center;
        display: inline-flex;
        align-items: center;
        gap: 14px;
        white-space: nowrap;

        img {
            height: 14px;
            width: auto;
            display: none;
        }

        @media (max-width:991px) {
            font-size: 14px;
            padding: 10px 15px;
        }

        &:hover {
            background-color: #F4F4F6;
            color: $red;
            border-color: #F4F4F6;
        }

        &.active {
            background-color: #F4F4F6;
            color: $dark;
            border-color: #F4F4F6;
            padding-inline: 15px !important;

            img {
                display: inline-block;
            }
        }
    }
}

.text-center>.btn {
    margin: 70px 0;
}

.modal-backdrop {
    background-color: $dark;
    z-index: 1299;

    &.show {
        opacity: .75 !important;
    }
}

.table-responsive::-webkit-scrollbar {
    height: 5px;
}

.table-responsive::-webkit-scrollbar-track {
    background-color: #D4D7DB80;
    border-radius: 10px;
}

.table-responsive::-webkit-scrollbar-thumb {
    background-color: $red;
    border-radius: 10px;
}

.hr
{
    border-top: 1px solid #D4D7DB;
    height: 0;
    width: 100%;
    display: block;
    margin: 110px 0;
    @media (max-width:1199px) {
        margin: 80px 0;
    }
    @media (max-width:991px) {
        margin: 60px 0;
    }
    @media (max-width:767px) {
        margin: 40px 0;
    }
}