// Variables
@import 'var.scss';



.hero {
    .item {
        position: relative;
    }

    img {
        width: 100%;
        aspect-ratio: 16/9;
        object-fit: cover;
    }

    .text {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        flex-direction: column;
        padding: 20px 30px;
        background-color: #415039f0;
        position: relative;
        background-blend-mode: difference;
        background-image: url(../images/swirl.svg);

        >* {
            position: relative;
            width: 100%;
            display: block;
        }

        div {
            font-size: 18px;
            font-family: base;
            color: $cream;
            letter-spacing: 1px;
            margin-bottom: 10px;
        }

        h3 {
            color: $cream;
            font-family: title;
            font-size: 64px;
        }

        p {
            color: $cream;
            font-size: 24px;
        }

        a {
            background-color: $cream;
            color: #415039;
            display: inline-flex;
            font-size: 18px;
            width: auto;
            padding: 12px 25px;
            font-family: bold;
            margin-right: auto;
        }
    }
}

.features {
    background-color: #f9f9f9;
    padding: 60px 0;

    .container {
        background-color: #fff;
        box-shadow: 0px 20px 40px 0px rgba(0, 18, 44, 0.05);
    }

    h2 {
        font-family: title;
        margin: 0 0 30px;
        text-align: center;
        color: #000;
        font-size: 32px;
    }

    .text {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 50px 30px;
        gap: 15px;
        text-align: center;

        i {
            font-size: 32px;
        }

        h6 {
            font-family: bold;
            font-size: 18px;
        }

        p {
            font-size: 15px;
            margin: 0;
        }
    }
}

.doodle {
    background-color: #fff;

    .text {
        background-image: url(../images/forging.webp);
        background-size: cover;
        background-position: bottom;
        background-repeat: no-repeat;
        position: relative;
        overflow: hidden;
        padding: 150px 30px;
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 15px;

        &::after {
            content: "";
            inset: 0;
            background-color: #000;
            position: absolute;
            opacity: .5;
        }

        &>* {
            position: relative;
            z-index: 10;
        }

        h2 {
            font-size: 54px;
            color: #fff;
            font-family: titlebold;
        }

        p {
            font-size: 20px;
            color: #fff;
            font-family: base;
        }

        a {
            background-color: $cream;
            color: #000;
            display: inline-flex;
            font-size: 16px;
            width: auto;
            padding: 15px 25px;
            font-family: bold;
            text-transform: uppercase;
        }
    }
}

.best {
    padding: 0 0 60px;
}

.sale {
    padding: 0 0 60px;
}

.categories {
    padding: 60px 0;

    .box {
        position: relative;
        padding: 0.5;
        text-align: center;

        // &::after {
        //     content: "";
        //     position: absolute;
        //     inset: 0;
        // }

        img {
            width: 100%;
            aspect-ratio: 1/1;
            background-color: #f0f2f5;
            object-fit: contain;
            object-position: center;
            padding: 12px;
            box-shadow: 0 0 0 0 transparent;
            position: relative;
            top: 0px;
            transition: .2s ease-out;

        }

        span {
            font-family: semi;
            font-size: 20px;
            display: block;
            margin-top: 5px;
            color: #000;
        }

        &:hover {
            
            img {
                top: -10px;
                background-color: #fff;
                box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.1);
            }
        }
    }
}