@import 'var';

.forms
{
    padding: 60px 0;
    .userForm
    {
        background-color: #fff;
        padding: 20px;
        box-shadow: 0px 2px 7px 0 rgba(0,0,0,0.15);
        margin: 0 0 30px;
        .link
        {
            text-transform: uppercase;
            font-size: 14px;
            color: $red;
            font-family: semi;
        }
    }
    .orderForm
    {
        background-color: #fff;
        padding: 20px;
        box-shadow: 0px 2px 7px 0 rgba(0,0,0,0.15);
        h2
        {
            font-family: title;
            font-size: 32px;
            margin: 0 0 10px;
        }
        p
        {
            font-size: 17px;
            color: #676767;
        }
    }
    .nav-tabs
    {
        display: flex;
        gap: 10px;
        border: none;
        margin: 0 0 15px;
        .nav-item
        {
            background-color: transparent !important;
            border: none !important;
            flex: 0 0 calc(50% - 10px);
        }
        .nav-link
        {
            background-color: #e7ecf0;
            color: #000;
            border-radius: 0;
            border: none;
            font-family: semi;
            text-transform: uppercase;
            border-radius: 7px;
            &.active
            {
                background-color: $red;
                color: #fff;
            }
        }
    }
    label
    {
        font-size: 14px;
        text-transform: uppercase;
        font-family: semi;
    }
    .form-control{
        border-radius: 0px;
        margin: 3px 0 15px;
        min-height: 46px;
    }
    .btn-theme
    {
        font-size: 14px;
        margin-top: 15px;
        padding: 10px 10px 11px;
        width: auto;
        padding-inline: 30px;
        border-radius: 2px;
        text-transform: uppercase;
    }
}
.form-check-input:checked {
    background-color: $red;
    border-color: $red;
}