.product-details {
  padding: 20px 0 30px;
}

.breads {
  display: flex;
  align-items: center;
  gap: 30px;
}
.breads a {
  color: #000;
  position: relative;
}
.breads a:hover {
  color: #ba4444;
}
.breads a::after {
  content: "/";
  color: #ddd;
  position: absolute;
  right: -20px;
  top: 1px;
  pointer-events: none;
}
.breads span {
  color: #767676;
}

.gTitle {
  text-align: center;
  margin-top: 30px;
}

.gallary {
  display: flex;
  align-items: flex-start;
  gap: 10px;
  margin: 30px 0;
}
.gallary .carousel-indicators {
  position: relative;
  margin: 0;
  left: 0;
  transform: none;
  flex: 0 0 90px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  z-index: 10;
}
@media (max-width: 1199px) {
  .gallary .carousel-indicators {
    flex: 0 0 70px;
  }
}
@media (max-width: 767px) {
  .gallary .carousel-indicators {
    flex: 0 0 50px;
  }
}
.gallary .carousel-indicators button {
  text-indent: 0;
  width: 100%;
  height: auto;
  border: none;
  opacity: 1;
  position: relative;
}
.gallary .carousel-indicators button::after {
  content: "";
  position: absolute;
  inset: 0;
  box-shadow: inset 0 0 0 0px #ba4444;
  transition: 0.2s ease-out;
}
.gallary .carousel-indicators button.active::after {
  box-shadow: inset 0 0 0 3px #ba4444;
}
.gallary .carousel-indicators button img {
  width: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
}
.gallary .carousel-inner {
  flex: 0 0 calc(100% - 100px);
}
@media (max-width: 1199px) {
  .gallary .carousel-inner {
    flex: 0 0 calc(100% - 80px);
  }
}
@media (max-width: 767px) {
  .gallary .carousel-inner {
    flex: 0 0 calc(100% - 60px);
  }
}
.gallary .carousel-inner .carousel-item {
  position: relative;
  cursor: zoom-in;
}
.gallary .carousel-inner img {
  position: relative;
  z-index: -1;
  width: 100%;
  aspect-ratio: 1/1;
  user-select: none;
  cursor: zoom-in;
}
.gallary .controls {
  margin-left: 100px;
  max-width: calc(100% - 100px);
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 12;
  height: 0;
}
@media (max-width: 1199px) {
  .gallary .controls {
    margin-left: 90px;
  }
}
@media (max-width: 767px) {
  .gallary .controls {
    max-width: calc(100% - 80px);
    margin-left: 70px;
  }
}
.gallary .controls .left {
  transform: translateX(-50%);
}
.gallary .controls .right {
  transform: translateX(50%);
}
.gallary .controls .left,
.gallary .controls .right {
  position: absolute;
  margin: 0;
  position: relative;
  height: 40px;
  width: 40px;
  top: 0;
  border: none;
  border-radius: 50px;
  background-color: white;
  font-size: 18px;
  box-shadow: 0px 2px 3px 0 rgba(0, 0, 0, 0.25);
}

.details {
  margin-top: 25px;
}
.details h4 {
  font-family: title;
  font-size: 36px;
}
.details .reviews {
  font-size: 18px;
  font-family: base;
  margin: 20px 0;
}
.details .reviews .rating-stars {
  font-size: 18px;
  margin-right: 10px;
}
.details .price {
  font-size: 32px;
}
.details .price .del {
  position: relative;
  font-size: 20px;
  color: #767676;
}
.details .price .del::after {
  content: "";
  position: absolute;
  background-color: rgb(192, 0, 0);
  height: 1px;
  width: 100%;
  left: 0;
  top: 50%;
  transform: rotate(-9deg) translateY(-50%);
}
.details .text {
  margin: 30px 0;
  padding: 20px 20px 20px 15px;
  background-color: #f0f2f4;
}
.details .text h6 {
  font-family: title;
  margin: 0 0 10px;
  font-size: 20px;
}
.details .text ul {
  padding: 0 0 0 20px;
  margin: 0;
}
.details .text li {
  margin: 0 0 10px;
  line-height: 1.3;
  font-size: 14px;
}
.details .text li:last-child {
  margin: 0;
}
.details .text li strong {
  font-family: semi;
}
.details .wishlist {
  border: none;
  background-color: transparent;
  font-size: 16px;
  font-family: semi;
  color: #565656;
  display: inline-flex;
  align-items: center;
  gap: 8px;
  margin-left: 20px;
  border: 1px solid #ddd;
  padding: 8px 20px 9px;
}
.details .wishlist i {
  position: relative;
  top: 2px;
  color: #ba4444;
  font-size: 20px;
}
.details .quantity {
  display: inline-flex;
  align-items: center;
  background-color: #f0f2f4;
}
.details .quantity .btn {
  font-size: 14px;
  padding: 10px;
  opacity: 1;
  color: #676767;
}
.details .quantity .btn:hover {
  color: #000;
}
.details .quantity .form-control {
  border: none;
  max-width: 40px;
  border-radius: 0px;
  font-size: 16px;
  font-family: semi;
  text-align: center;
  pointer-events: none;
  background-color: transparent;
}

.reviews {
  margin-top: 30px;
}
.reviews .gTitle {
  font-size: 28px;
  text-align: left;
  margin: 0 0 10px;
}
.reviews .desc {
  font-size: 16px;
  color: #676767;
  margin: 0 0 30px;
}
.reviews .reviews-list {
  background-color: #fff;
  padding: 0 0 20px;
  width: 100%;
}
.reviews .reviews-list .single-review {
  padding: 10px 0px;
  display: flex;
  align-items: flex-start;
  gap: 12px;
  border-top: 1px solid #eee;
}
.reviews .reviews-list .single-review:last-child {
  border-bottom: 1px solid #eee;
}
.reviews .reviews-list .single-review .avatar {
  width: 45px;
  min-width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ba4444;
  border-radius: 50px;
  position: relative;
  overflow: hidden;
  color: #fff;
  font-family: semi;
  font-size: 24px;
}
.reviews .reviews-list .single-review .avatar img {
  width: 100%;
  height: 100%;
  border-radius: 50px;
  object-fit: cover;
  object-position: center;
}
.reviews .reviews-list .single-review .name {
  font-family: bold;
  font-size: 14px;
  color: #111;
  display: block;
  position: relative;
}
.reviews .reviews-list .single-review .name.verified::after {
  content: "Verified Buyer";
  font-family: base;
  margin-left: 5px;
  color: #767676;
  font-size: 13px;
}
.reviews .reviews-list .single-review .rating-stars {
  margin: 1px 0 5px;
  display: block;
}
.reviews .reviews-list .single-review time {
  font-size: 13px;
  color: rgba(186, 68, 68, 0.6);
}
.reviews .reviews-list .single-review .upper {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  flex-wrap: wrap;
}
.reviews .reviews-list .single-review .reviewBody {
  flex-grow: 1;
}
.reviews .reviews-list .single-review h6 {
  font-family: semi;
  color: #39404b;
  font-size: 16px;
  margin: 5px 0 0;
}
.reviews .reviews-list .single-review p {
  font-size: 15px;
  color: #666c79;
  margin: 0;
}

.star-rating {
  display: inline-flex;
  cursor: pointer;
}
.star-rating .star {
  font-size: 17px;
  color: #ccc;
}
.star-rating .star.hovered {
  color: #f5b301;
}
.star-rating .star.selected, .star-rating .star:hover {
  color: #f5b301;
}

.reviewForm {
  background-color: #f2f4f6;
  padding: 20px;
  margin-bottom: 40px;
}
.reviewForm h4 {
  font-family: title;
  margin: 0 0 10px;
}
.reviewForm .form-control {
  border-radius: 0;
  border: none;
  box-shadow: 0px 1px 3px 0 rgba(0, 0, 0, 0.1) !important;
}
.reviewForm .btn.submit {
  background-color: #ba4444;
  color: #fff;
  font-size: 15px;
  font-family: semi;
  padding: 5px 20px 6px;
  display: inline-flex;
  align-items: center;
  gap: 6px;
  justify-content: center;
  margin-top: 15px;
  border-radius: 0;
}

@media (max-width: 1199px) {
  .ratingFilter {
    margin-top: 15px;
  }
}
.ratingFilter .rank {
  border: none;
  background-color: transparent;
  display: flex;
  align-items: center;
  gap: 10px;
  font-family: semi;
  cursor: pointer;
  transition: 0.2s cubic-bezier(0.165, 0.84, 0.44, 1);
  opacity: 1;
}
.ratingFilter .rank:hover .bar {
  height: 12px;
}
.ratingFilter:has(.rank:hover) .rank:not(:hover) {
  opacity: 0.4;
}
.ratingFilter:has(.rank:hover) .rank:not(:hover) .bar {
  height: 5px;
}
.ratingFilter .bar {
  display: block;
  max-width: calc(100% - 30px);
  height: 8px;
  width: 100%;
  background-color: #dde0e2;
  border-radius: 6px;
  position: relative;
  transition: 0.2s cubic-bezier(0.165, 0.84, 0.44, 1);
  overflow: hidden;
}
.ratingFilter .bar::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-color: #f5b301;
  border-radius: 10px;
}
.ratingFilter span {
  display: inline-flex;
  align-items: center;
  gap: 10px;
}
.ratingFilter span i {
  color: #f5b301;
}
.ratingFilter .oneStars .bar::after {
  width: 20%;
}
.ratingFilter .twoStars .bar::after {
  width: 40%;
}
.ratingFilter .threeStars .bar::after {
  width: 60%;
}
.ratingFilter .fourStars .bar::after {
  width: 80%;
}
.ratingFilter .fiveStars .bar::after {
  width: 100%;
}