.hero .item {
  position: relative;
}
.hero img {
  width: 100%;
  aspect-ratio: 16/9;
  object-fit: cover;
}
.hero .text {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  flex-direction: column;
  padding: 30px 30px 40px;
  background-color: rgba(65, 80, 57, 0.9411764706);
  position: relative;
  background-blend-mode: difference;
  background-image: url(../images/swirl.svg);
}
@media (max-width: 991px) {
  .hero .text {
    text-align: center;
  }
}
.hero .text > * {
  position: relative;
  width: 100%;
  display: block;
}
.hero .text div {
  font-size: 18px;
  font-family: base;
  color: #fff6df;
  letter-spacing: 1px;
  margin-bottom: 10px;
}
.hero .text h3 {
  color: #fff6df;
  font-family: title;
  font-size: clamp(24px, 3vw + 2em, 64px);
}
.hero .text p {
  color: #fff6df;
  font-size: clamp(16px, 0.8vw + 0.5em, 24px);
}
.hero .text a {
  background-color: #fff6df;
  color: #415039;
  display: inline-flex;
  font-size: 18px;
  width: auto;
  padding: 12px 25px;
  font-family: bold;
  margin-right: auto;
}
@media (max-width: 991px) {
  .hero .text a {
    margin-left: auto;
  }
}
.hero .splide__pagination {
  display: none;
}

.features {
  background-color: #f9f9f9;
  padding: 60px 0;
}
.features .container {
  background-color: #fff;
  box-shadow: 0px 20px 40px 0px rgba(0, 18, 44, 0.05);
}
.features h2 {
  font-family: title;
  margin: 0 0 30px;
  text-align: center;
  color: #000;
  font-size: clamp(24px, 1vw + 0.8em, 32px);
}
.features .text {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 30px;
  gap: 15px;
  text-align: center;
}
.features .text i {
  font-size: 32px;
}
.features .text h6 {
  font-family: bold;
  font-size: 18px;
}
.features .text p {
  font-size: 15px;
  margin: 0;
}

.doodle {
  background-color: #fff;
}
.doodle .text {
  background-image: url(../images/forging.webp);
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  position: relative;
  overflow: hidden;
  padding: calc(4vw + 2em) 30px;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 15px;
  text-align: center;
}
.doodle .text::after {
  content: "";
  inset: 0;
  background-color: #000;
  position: absolute;
  opacity: 0.5;
}
.doodle .text > * {
  position: relative;
  z-index: 10;
}
.doodle .text h2 {
  font-size: 54px;
  color: #fff;
  font-family: titlebold;
  font-size: clamp(24px, 2vw + 1.5em, 54px);
}
.doodle .text p {
  font-size: 20px;
  color: #fff;
  font-family: base;
}
.doodle .text a {
  background-color: #fff6df;
  color: #000;
  display: inline-flex;
  font-size: 16px;
  width: auto;
  padding: 15px 25px;
  font-family: bold;
  text-transform: uppercase;
}

.best {
  padding: 0 0 60px;
}

.sale {
  padding: 0 0 60px;
}

.categories {
  padding: 60px 0;
}
.categories .box {
  position: relative;
  padding: 0.5;
  text-align: center;
}
.categories .box img {
  width: 100%;
  aspect-ratio: 1/1;
  background-color: #f0f2f5;
  object-fit: contain;
  object-position: center;
  padding: 12px;
  box-shadow: 0 0 0 0 transparent;
  position: relative;
  top: 0px;
  transition: 0.2s ease-out;
}
.categories .box span {
  font-family: semi;
  font-size: 20px;
  display: block;
  margin-top: 5px;
  color: #000;
  font-size: 18px;
  margin-bottom: 24px;
}
.categories .box:hover img {
  top: -10px;
  background-color: #fff;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.1);
}